---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Asap:400,700|Open+Sans|Inconsolata);

@import url(http://yui.yahooapis.com/pure/0.6.0/pure-min.css);
@import url(http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css);

// Our variables
$base-font-family: 'Open Sans', monaco, monospace;
$title-font-family: 'Asap', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.9;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color: #1E1E1E;
$background-color: #FFF;
$ui-background-color: #EEEEF2;
$ui-background-color-hover: darken(#EEEEF2, 10%);
$accent-color: #007acc;
$line-number-color: #2B91AF;
$comment-color:        #008000;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width: 1000px;
$on-palm: 600px;
$on-laptop: 800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "panels",
        "layout",
        "header",
        "footer",
        "page",
        "post",
        "video-post",
        "post-listing",
        "video-post-listing",
        "tags",
        "spritesheet",
        "syntax-highlighting"
;


html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
  font-family: $base-font-family;
}


///

figure.console{
    pre {
        background-color: #202020;
        border: 4px solid silver;
        border-radius: 5px;
        box-shadow: 2px 2px 3px #6e6e6e;
        color: #e2e2e2;
        display: block;
        overflow: hidden;
        
        code {
            background: none;
            padding: 5px 15px;
            font-size: 15px;
        }
    }
}

