---
layout: page
title: Herramientas
permalink: /herramientas/
lang: es
---  
<p>Esta es una recopilación de herramientas en línea que uso, algunas son para desarrollar, otras para trabajar y algunas solo como pasatiempo. Son principalmente links acpomañados de una descripción de lo que hacen y en la medida de lo posible trataré de crear un post para cada una.</p>

<h3>Trabajando con Json</h3>
<dl>
  <dt>jason2csharp</dt>
  <dd>Genera clases en C# a partir de una definción Json, si bien no es perfecta, al menos ayuda para generar un código para cuando vamos a empezar a trabajar con una nueva API REST. <a rel="nofollow" target="_blank" href="http://json2csharp.com">Sitio web</a>.</dd>
  <dt>Json Parser Online</dt>
  <dd>Valida y revisa definiciones Json, esta herramienta permite encontrar errores y visualizar los datos. <a rel="nofollow" target="_blank" href="http://json.parser.online.fr">Sitio web</a>.</dd>
  <dt>Json Editor Online</dt>
  <dd>Similar a la anterior, salvo que esta permite editar el Json con una interfaz amigable. <a rel="nofollow" target="_blank" href="http://www.jsoneditoronline.org/">Sitio web</a>.</dd>
</dl> 

<h3><i>Placeholders</i></h3>
<dl>
  <dt>Lipsum</dt>
  <dd>Genera texto (el clásico Lorem Ipsum) para usar como relleno en tus aplicaciones. <a rel="nofollow" target="_blank" href="http://es.lipsum.com">Sitio web</a>.</dd>
  <dt>Lorempixel</dt>
  <dd>Genera imagenes de prueba para colocar como marcadores para fuguras imagenes en tus posts. Permite obtener imagenes sobre algun tema y con texto. <a rel="nofollow" target="_blank" href="http://json.parser.online.fr">Sitio web</a>.</dd>
  <dt>Placehold.it</dt>
  <dd>Similar a la anterior, salvo que esta no permite obtener imágenes con temática específica, pero si permite seleccionar el fotmato de la imagen obtenida. <a rel="nofollow" target="_blank" href="https://placehold.it">Sitio web</a>.</dd>
</dl> 

<h3>Herramientas sociales</h3>
<dl>
  <dt>Facebook Debugger</dt>
  <dd>Uso esta herrramienta para saber cómo se verán los enlaces que comparto en Facebook. <a rel="nofollow" target="_blank" href="http://es.lipsum.com">Sitio web</a>.</dd>
  <dt>Lorempixel</dt>
  <dd>Genera imagenes de prueba para colocar como marcadores para fuguras imagenes en tus posts. Permite obtener imagenes sobre algun tema y con texto. <a rel="nofollow" target="_blank" href="http://json.parser.online.fr">Sitio web</a>.</dd>
  <dt>Placehold.it</dt>
  <dd>Similar a la anterior, salvo que esta no permite obtener imágenes con temática específica, pero si permite seleccionar el fotmato de la imagen obtenida. <a rel="nofollow" target="_blank" href="https://placehold.it">Sitio web</a>.</dd>
</dl> 

<h3>Gráficos</h3>
<dl>
    <dt>Adobe Color CC</dt>
    <dd>Herramienta para generar paletas de colores a partir de una rueda cromática o de una imagen, suelo usarla mucho cuando creo las imágenes para cada post. <a rel="nofollow" target="_blank" href="https://color.adobe.com">Sitio web</a>.</dd>
    <dt>SVGOMG!</dt>
    <dd>Es una interfaz web de SGVO, que es una herramienta que nos ayuda a "limpiar" archivos svg y optmizar su tamaño para cuando cuando debemos reducir el tamaño de los gráficos. <a rel="nofollow" target="_blank" href="https://jakearchibald.github.io/svgomg/">Sitio web</a>.</dd>
    <dt>CSS Sprite Generator</dt>
    <dd>Crea <i>spritesheets</i> en línea, esta aplicacióm me gusta porque genera todo lo necesario: la imagen y el CSS, además de que podemos exportar nuestro trabajo a un archivo para que después no tengamos que empezar desde 0 para añadir nuevas imágenes. <a rel="nofollow" target="_blank" href="http://spritegen.website-performance.org">Sitio web</a>.</dd>
</dl>

<h3>Sociales</h3>
<dl>
    <dt>Facebook Debugger</dt>
    <dd>Utilísima si quieres ver cómo es que se verá lo que compartes en Facebook además da recomendaciones para hacer que tu sitio sea más amigable para ser compartido en Facebook. <a rel="nofollow" target="_blank" href="https://developers.facebook.com/tools/debug/">Sitio web</a>.</dd>
    
    <dt>Twitter Card Validator</dt>
    <dd>Muy similar al de Facebook que está más arriba, solo que para Twitter y sin sugerir mejoras. <a rel="nofollow" target="_blank" href="https://cards-dev.twitter.com/validator">Sitio web</a>.</dd>
</dl>
