---
layout: default
lang: es
---
<div class="pure-g">
    {% for post in paginator.posts %}
        <div class="listed-post pure-u-1">
            <div class="post-meta">{{ post.author }} | {{ post.date | date: "%d/%m/%Y" }}</div>
            <h2 class="post-title">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                {% if post.is_tv %}<i class="sp sp-youtube-big"></i>{% endif %}
            </h2>
            <div class="post-excerpt">{{ post.excerpt }}</div>
        </div>
    {% endfor %}
    <!-- Pagination links -->
    
    <div style="text-align:center;" class="pure-u-1-12">
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="previous">
            <img src="/content/site/backwards.png" />
        </a>
    {% else %}
        <img src="/content/site/backwards_disabled.png" />
    {% endif %}
    </div>
    <div style="text-align:center;" class="pure-u-1-12">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">
            <img src="/content/site/forward.png" />
        </a>
    {% else %}
        <img src="/content/site/forward_disabled.png" />
    {% endif %}
    </div>
    <div class="pure-u-20-24"></div>
    <div style="text-align:center;" class="pure-u-4-24">
        <p>
            <h3>{{ paginator.page }} de {{ paginator.total_pages }}</h3>
        </p>
    </div>

</div>
