---
layout: page
title: Paquetes de NuGet destacados
permalink: /nugets-destacados/
lang: es
---   
<p>Esta es una sección de los paquetes de NuGet que he usado a través de mi experiencia desarrollando y que he encontrado particularmente útiles para diversas tareas, sé que tal vez hay algunos que faltan y puede que juzgues que alguno sobra y me gustaría saber tus comentarios al respecto</p>
<div class="pure-g">  
    <div class="pure-u-1-2">
        <div class="gutter">
        <div class="panel active">
            <div class="panel-title">
                <span class="title">Multiplataforma</span>
            </div>
            <div class="panel-content">
                <dl>
                    <dt>Humanizer</dt>
                    <dd>Es un conjunto de métodos que nos ayudan a hacer nuestras aplicaciones un poco más amigables al usuario, <a href="/post/humaniza-tus-apps/">escribí un post al respecto</a>.</dd>
                    
                    <dt>DocX</dt>
                    <dd>Esta librería permite manipular documentos de Word sin necesidad de tener Office instalado en el dispositivo donde se lleva a cabo la manipulación. ¡No más librerías COM!</dd>
                </dl>
            </div>
        </div>
        </div>
    </div>
    
    
    <div class="pure-u-1-2">
        <div class="gutter">
            <div class="panel active">
                <div class="panel-title">
                    <span class="title">Xamarin.Forms</span>
                </div>
                <div class="panel-content">
                    <ul>
                        <li>Humanizer</li>
                        <li>Humanizer</li>
                        <li>Humanizer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>