<footer class="site-footer ui">
    
  <div class="wrapper pure-g">
      <div class="pure-u-1 pure-u-md-8-24">
          <div class="footer-content">
              {% include footer-contact.html %}
          </div>
      </div>
      <div class="pure-u-1 pure-u-md-6-24">
      </div>
      <div class="pure-u-1 pure-u-md-10-24">
          <div class="footer-content">
              
              <!-- Begin MailChimp Signup Form -->
<div class="panel active" id="footer-signup">
    <div class="panel-title">
        <span class="title">Suscríbete</span>
    </div>
    <div class="panel-content">
    Recibe semanalmente lo nuevo en That C# guy
    <form class="pure-form-stacked" action="//thatcsharpguy.us11.list-manage.com/subscribe/post?u=ebfe25f4824d7335380cf1ffd&amp;id=eca72e1174" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
                
                <input type="email" value="" placeholder="dirección de email" name="EMAIL" class="required email" id="mce-EMAIL">
                
                <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="button">
                    <span style="text-decoration:underline;">E</span>nviar
                </button>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_ebfe25f4824d7335380cf1ffd_eca72e1174" tabindex="-1" value="">
                </div>
    </form>
    </div>
</div>

<!--End mc_embed_signup-->
              
          </div>
      </div>
  </div>

</footer>

<script>
window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);
 
  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };
 
  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '942345702508916',
      xfbml      : true,
      version    : 'v2.5'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>