{% comment %}Image folder resolving{% endcomment %}
{% if page.images_folder %}
  {% assign post_images_path = page.images_folder | prepend: '/' %}
{% else %}
  {% assign post_images_path = page.url | replace:'post/',''%}
{% endif %}
    <!-- Facebook open graph tags -->  
    {% if page.featured_image %}
    <meta property="og:image" content="{{ page.featured_image | prepend: post_images_path | prepend: site.images_url }}" />
    {% endif %}
    {% if page.custom_image %}
    <meta property="og:image" content="{{ page.custom_image | prepend: site.assets_url }}" />
    {% endif %}
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="article:author" content="{{ site.fb_author }}" />
    <meta property="article:publisher" content="{{ site.fb_publisher }}" />
    <meta property="fb:app_id" content="{{ site.fb_app_id }}" />