{% if page.images_folder %}
  {% assign post_images_path = page.images_folder | prepend: '/'  %}
{% else %}
  {% assign post_images_path = page.url | replace:'post/',''%}
{% endif %}

  <!-- Twitter cards  -->
	{% if page.featured_image %} 
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:image" content="{{ page.featured_image | prepend: post_images_path | prepend: site.images_url }}">
	{% else %}
	<meta name="twitter:card" content="summary" />
	{% endif %}
	<meta name="twitter:site" content="@{{ site.twitter_username }}" />
	<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
	<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />