<div class="pure-g">
    <div class="pure-u-1 pure-u-md-7-24">
        {{ site.t[page.lang].post.interact }}
        <ul class="post-contact-list">
            <li><a href="mailto:{{ site.email }}?subject={{ page.title | cgi_escape }}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 11.815v13.292q0 1.105-.787 1.892-.787.78-1.892.78H3.68q-1.106 0-1.893-.79Q1 26.21 1 25.102v-13.29q.737.82 1.69 1.46 6.06 4.12 8.32 5.78.955.705 1.55 1.1.594.392 1.582.802.987.41 1.84.41h.035q.854 0 1.84-.41.99-.41 1.583-.804.595-.393 1.55-1.096 2.845-2.06 8.336-5.778.954-.652 1.674-1.455zm0-4.922q0 1.322-.82 2.528t-2.043 2.06l-7.835 5.44-.71.51q-.545.4-.905.64t-.87.55q-.51.3-.963.45-.452.15-.837.15h-.034q-.385 0-.837-.15-.452-.15-.962-.45-.51-.302-.87-.544-.36-.243-.905-.637l-.72-.51q-1.525-1.07-4.388-3.055-2.86-1.984-3.43-2.386-1.04-.704-1.96-1.935Q1 8.315 1 7.26q0-1.305.695-2.175.695-.87 1.984-.87h24.64q1.09 0 1.88.786.792.79.792 1.9z"/></svg> {{ site.email }}</a></li>
            <li><a href="https://twitter.com/intent/tweet?text=@{{ site.twitter_username }} about {{ page.title | cgi_escape }}{%if page.tweet_id %}&in_reply_to={{ page.tweet_id }}{% endif %}"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 6.7q-1.28 1.88-3.08 3.2.02.26.02.8 0 2.46-.73 4.93-.7 2.46-2.2 4.73-1.46 2.26-3.5 4-2.04 1.75-4.9 2.8-2.88 1.02-6.16 1.02-5.16 0-9.44-2.76.67.08 1.48.08 4.3 0 7.64-2.63-2-.04-3.58-1.23-1.58-1.2-2.17-3.03.63.1 1.16.1.82 0 1.62-.2-2.13-.44-3.53-2.13-1.4-1.68-1.4-3.9v-.1q1.3.74 2.78.8-1.26-.84-2-2.2-.74-1.35-.74-2.93 0-1.67.83-3.1 2.3 2.84 5.6 4.54 3.3 1.7 7.07 1.9-.15-.73-.15-1.4 0-2.57 1.8-4.36 1.8-1.8 4.35-1.8 2.66 0 4.5 1.94 2.07-.4 3.9-1.5-.7 2.2-2.7 3.4 1.76-.2 3.53-.95z"/></svg> @{{ site.twitter_username }}</a></li>
            <li><svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M31 31H1V1h30v30z"/><path d="M31 2.88v16.87h-5.63v7.68l-4-2.95v2.74l-9.38.02L7.86 31H4.74v-3.7H1V12.36h5.63V2.88H31z" fill="#F6F6F6"/><path d="M19.75 23.27v2.1H12.1L6.62 29v-3.63H2.88V14.13h3.75V16H4.75v7.5H8.5v2.03l2.8-2.03h6.57v-1.62l1.88 1.4z" fill="#424242"/><path d="M17.88 6.63h9.37V16h-5.63v4.09l-3.54-3.55-.55-.55h-7.17V6.62h7.5zM8.5 4.75v13.13h8.26l6.74 5.57v-5.57h5.63V4.74H8.5z" fill="#424242"/><path d="M25.38 10.38H12.24V8.5h13.13v1.88zM21.63 14.13h-9.38v-1.88h9.38v1.88z" fill="#424242"/><path d="M8.5 25.53V23.5" fill="#F6F6F6"/><g fill="#F0EFF1"><path d="M17.88 21.88v1.62H11.3l-2.8 2.03V23.5H4.75V16h1.88v3.75h8.36l2.88 2.13zM17.88 6.63h-7.5V16h7.15l.55.55 3.55 3.54V16h5.62V6.62h-9.38zm3.75 7.5h-9.38v-1.88h9.38v1.88zm3.75-3.76H12.24V8.5h13.13v1.88z"/></g></g></svg> <a id="post-count" href="{{ page.url | prepend: site.url }}#disqus_thread" data-disqus-identifier="{{ page.url }}">comments</a></li>
        </ul>
    </div>  
    <div class="pure-u-1 pure-u-md-10-24">
        {% if page.featured_tag  == "Xamarin" or page.featured_tag == "XamarinForms" %}
            {{ site.t[page.lang].xamarinAnnouncement }}
        {% else %}
            {{ site.t[page.lang].post.more }} <a class="tag" href="/tag/{{ page.featured_tag }}">#{{ page.featured_tag }}</a>.
        {% endif %}
    </div>
    <div class="pure-u-1 pure-u-md-7-24">
        {{ site.t[page.lang].post.share }}
        <ul class="post-contact-list">
            <li><a href="mailto:?subject={{ page.title }}&amp;body={{ page.url | prepend: site.url }}">email <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 11.815v13.292q0 1.105-.787 1.892-.787.78-1.892.78H3.68q-1.106 0-1.893-.79Q1 26.21 1 25.102v-13.29q.737.82 1.69 1.46 6.06 4.12 8.32 5.78.955.705 1.55 1.1.594.392 1.582.802.987.41 1.84.41h.035q.854 0 1.84-.41.99-.41 1.583-.804.595-.393 1.55-1.096 2.845-2.06 8.336-5.778.954-.652 1.674-1.455zm0-4.922q0 1.322-.82 2.528t-2.043 2.06l-7.835 5.44-.71.51q-.545.4-.905.64t-.87.55q-.51.3-.963.45-.452.15-.837.15h-.034q-.385 0-.837-.15-.452-.15-.962-.45-.51-.302-.87-.544-.36-.243-.905-.637l-.72-.51q-1.525-1.07-4.388-3.055-2.86-1.984-3.43-2.386-1.04-.704-1.96-1.935Q1 8.315 1 7.26q0-1.305.695-2.175.695-.87 1.984-.87h24.64q1.09 0 1.88.786.792.79.792 1.9z"/></svg></a></li>
            <li><a href="https://twitter.com/intent/tweet?text={{ page.title | cgi_escape }} {{ page.url | prepend: site.url }}&hashtags={{ page.featured_tag }}">tweet <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M31 6.7q-1.28 1.88-3.08 3.2.02.26.02.8 0 2.46-.73 4.93-.7 2.46-2.2 4.73-1.46 2.26-3.5 4-2.04 1.75-4.9 2.8-2.88 1.02-6.16 1.02-5.16 0-9.44-2.76.67.08 1.48.08 4.3 0 7.64-2.63-2-.04-3.58-1.23-1.58-1.2-2.17-3.03.63.1 1.16.1.82 0 1.62-.2-2.13-.44-3.53-2.13-1.4-1.68-1.4-3.9v-.1q1.3.74 2.78.8-1.26-.84-2-2.2-.74-1.35-.74-2.93 0-1.67.83-3.1 2.3 2.84 5.6 4.54 3.3 1.7 7.07 1.9-.15-.73-.15-1.4 0-2.57 1.8-4.36 1.8-1.8 4.35-1.8 2.66 0 4.5 1.94 2.07-.4 3.9-1.5-.7 2.2-2.7 3.4 1.76-.2 3.53-.95z"/></svg></a>{%if page.tweet_id %} o <a href="https://twitter.com/intent/retweet?tweet_id={{ page.tweet_id }}">retweet <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path fill="#000" fill-rule="evenodd" d="M30.86 16.55c-.225-.445-.682-.726-1.18-.726h-3.09v-7.06C26.59 7.79 25.8 7 24.827 7H14.678c-.975 0-1.765.79-1.765 1.765 0 .975.79 1.765 1.765 1.765h7.942c.243 0 .44.197.44.44v4.854h-3.088c-.498 0-.955.28-1.18.726-.225.445-.182.98.113 1.38l4.853 6.62c.25.34.647.54 1.068.54.42 0 .818-.2 1.067-.54l4.854-6.62c.295-.402.338-.935.113-1.38zm-13.535 5.01H9.383c-.238 0-.428-.188-.438-.423l-.003-4.87h3.088c.5 0 .956-.282 1.18-.727.226-.445.183-.98-.112-1.38L8.245 7.54C7.995 7.2 7.6 7 7.177 7c-.422 0-.818.2-1.068.54l-4.854 6.62c-.295.402-.34.935-.113 1.38.225.445.682.726 1.18.726h3.09l.004 7.06c0 .975.79 1.764 1.765 1.764h10.144c.974 0 1.765-.79 1.765-1.765 0-.975-.79-1.765-1.764-1.765z"/></svg></a>{% endif %}</li>
            <li><a href="javascript:sharePostFacebook();">share</a> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><path d="M30.512 1.488c.325.326.488.716.488 1.172v26.68c0 .456-.163.846-.488 1.172-.326.325-.716.488-1.172.488h-7.637V19.38h3.887l.586-4.532h-4.473v-2.89c0-.73.153-1.277.46-1.642.305-.364.9-.546 1.786-.546l2.382-.02V5.707c-.82-.117-1.98-.176-3.477-.176-1.77 0-3.186.522-4.248 1.564-1.06 1.04-1.59 2.513-1.59 4.414v3.34h-3.908v4.53h3.906V31H2.66c-.456 0-.846-.163-1.172-.488C1.163 30.186 1 29.796 1 29.34V2.66c0-.456.163-.846.488-1.172C1.814 1.163 2.204 1 2.66 1h26.68c.456 0 .846.163 1.172.488z"/></svg></li>
        </ul>
    </div>
</div>
<script>
    function sharePostFacebook() {
        FB.ui({
  method: 'share',
  href: '{{ page.url | prepend: site.url }}',
}, function(response){});
    }
</script>