<div id="post-meta">
    <a href="/acerca-de/#citando" rel="author">{{ page.author }}</a> | {{ page.date | date: "%d/%m/%Y" }}
{% if page.affiliate %}| Este post contiene links de un programa de afiliados <a href="/acerca-de/#links-de-afiliado" target="_blank">[?]</a>{% endif %} 
{% if page.ideone %}| <strong><a href="{{ page.ideone }}" target="_blank"><i class="sp sp-ideone"></i> Ver código de este post en ideone</a></strong>{% endif %}
{% if page.github %}| <strong><a href="{{ page.github }}" target="_blank"><i class="sp sp-git"></i> Ver código de este post en GitHub</a></strong>{% endif %}
</div>