{% if page.lang == 'es' %}
	<div class="guide-container">
		<div class="pure-u-23-24"><i class="sp sp-warning"></i> Este post es una guía, asegurate de descargar <a href="{{ page.codeguide }}" target="_blank">el código</a> o la <a href="{{ page.pdfguide }}" target="_blank">versión en pdf</a>.</div>
	</div>
{% endif %}

{% if page.lang == 'en' %}
	<div class="guide-container">
		<div class="pure-u-23-24"><i class="sp sp-warning"></i>This post is a guide, make sure you dowload <a href="{{ page.codeguide }}" target="_blank">the code</a>.</div>
	</div>
	<br />
{% endif %}