.sp {
    background-image: url(../content/site/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    margin-bottom: -3px;
}

.sp-attach {
    width: 16px;
    height: 16px;
    background-position: -2px -2px;
}

.sp-backwards {
    width: 50px;
    height: 50px;
    background-position: -22px -2px;
}

.sp-backwards_disabled {
    width: 50px;
    height: 50px;
    background-position: -76px -2px;
}

.sp-clipboard {
    width: 16px;
    height: 16px;
    background-position: -2px -56px;
}

.sp-comments {
    width: 16px;
    height: 16px;
    background-position: -22px -56px;
}

.sp-console {
    width: 16px;
    height: 16px;
    background-position: -42px -56px;
}

.sp-create {
    width: 16px;
    height: 16px;
    background-position: -62px -56px;
}

.sp-download {
    width: 16px;
    height: 16px;
    background-position: -82px -56px;
}

.sp-feedback {
    width: 16px;
    height: 16px;
    background-position: -102px -56px;
}

.sp-forward {
    width: 50px;
    height: 50px;
    background-position: -2px -76px;
}

.sp-forward_disabled {
    width: 50px;
    height: 50px;
    background-position: -56px -76px;
}

.sp-git {
    width: 16px;
    height: 16px;
    background-position: -122px -56px;
}

.sp-github {
    width: 16px;
    height: 16px;
    background-position: -110px -76px;
}

.sp-home {
    width: 16px;
    height: 16px;
    background-position: -110px -96px;
}

.sp-ideone {
    width: 16px;
    height: 16px;
    background-position: -110px -116px;
}

.sp-link {
    width: 16px;
    height: 16px;
    background-position: -130px -2px;
}

.sp-mail {
    width: 16px;
    height: 16px;
    background-position: -2px -22px;
}

.sp-print {
    width: 16px;
    height: 16px;
    background-position: -130px -22px;
}

.sp-title-panel-dots {
    width: 6px;
    height: 10px;
    background-position: -150px -2px;
}

.sp-twitter {
    width: 16px;
    height: 16px;
    background-position: -142px -42px;
}

.sp-warning {
    width: 16px;
    height: 16px;
    background-position: -142px -62px;
}

.sp-warning-big {
    width: 32px;
    height: 32px;
    background-position: -130px -82px;
}

.sp-youtube {
    width: 16px;
    height: 16px;
    background-position: -130px -118px;
}

.sp-youtube-big {
    width: 32px;
    height: 32px;
    background-position: -160px -2px;
}
