---
layout: default_video
lang: es
---
<div class="pure-g">
    {% for post in site.posts %}
        {% if post.is_tv %}
{% if post.images_folder %}
  {% assign post_images_path = post.images_folder | prepend: '/' %}
{% endif %}
        
    <div class="pure-u-1-2 video">
        <div class="video-container">
            <a href="{{ post.url | prepend: site.baseurl }}">
{% if post.featured_image %}
<img src="{{ post.featured_image | prepend: post_images_path | prepend: site.images_url }}" />
{% endif %}
            </a>
            <h3 class="post-title">
                {{ post.title }}
                <small></small>
            </h3>
        </div>
    </div>
        {% endif %}
    {% endfor %}
</div>