<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
   
  </body>

</html>
