---
layout: default_video
---
<div class="video-wrapper">
    <iframe width="992" height="558" src="https://www.youtube.com/embed/{{ page.youtube }}" frameborder="0" allowfullscreen></iframe>
</div>
<br />
<h1 class="post-title">{{ page.title }}</h1>

<div class="post-content">
    <article>
        {{ content }}
    </article>
    <script src="https://apis.google.com/js/platform.js"></script>
<div class="g-ytsubscribe" data-channelid="UC8KCb358oioQMcJ5pUfs8UQ" data-layout="default" data-count="default"></div>
    <div class="post-contact">
        {% include post-footer.html %}
    </div>
</div>    