---
layout: default
---
{% include post-meta.html %}
<h1 class="post-title">{{ page.title }}</h1>
<div class="post-content">
{% if page.pdfguide %}
    {% include post-guide.html %}    
{% endif %}
    <article>
        {{ content }}
    </article>
    <div class="post-contact">
        {% include post-footer.html %}
    </div>
</div>

{% if page.comments %}
<div id="disqus_thread"></div>
<script id="dsq-count-scr" src="//thatcharpguy.disqus.com/count.js" async></script>
<script>
    var noCommentsText = "{{ site.t[page.lang].leaveAComment }}";
    var commentText = " {{ site.t[page.lang].comment }}";
    
//var disqus_developer = 1; // this would set it to developer mode

    var disqus_config = function () {
        this.page.url = "{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"; // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "{{ page.url }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.title ="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}";
    };
</script>
<script src="/js/comments.js"></script>
{% endif %}