---
layout: default
lang: es
---
<h1><small>#region</small> <strong>{{page.title}}</strong></h1>
<div id="container" >
    
    <div class="card feedback">
        <div class="inner-card">
            <div class="pure-g">
                <div class="pure-u-1-1">
                    <h3>¿Hay algo que te gustaría ver aquí?</h3>
                        <h3>¡Envíame un <a href="mailto:{{ site.email }}?subject={{ page.title }}">correo</a> o un <a href="https://twitter.com/intent/tweet?text=@{{ site.twitter_username }} sobre {{ page.title }} ">tweet</a> para sugerirlo!</h3>
                    
                </div>
            </div>
        </div>  
    </div>
    
{% for post in site.posts %}
    {% for tag in post.tags %}
        {% if tag == page.tag %}
{% comment %} Image folder resolving {% endcomment %}
{% if post.images_folder %}
  {% assign post_images_path = post.images_folder | prepend: '/' %}
{% else %}
  {% assign post_images_path = post.url | replace:'post/',''%}
{% endif %}
    <div class="card">
        <a href="{{ post.url }}">
        <div class="inner-card"
        {% if post.featured_image %}
            style="background-image: url(http://res.cloudinary.com/thatcsarpguy/image/fetch/c_limit,h_157,w_300/{{ post.featured_image | prepend: post_images_path | prepend: site.images_url }})"
        {% endif %}
        >
            <div>
                <h2>{{ post.title }}</h2>
            </div>
        </div>  
        </a>
    </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<script>
$('#container').masonry({
    itemSelector: '.card',
    columnWidth: 299,
    isAnimated: true
});
</script>


